In [1]:
import pandas as pd
import numpy as np
import os

In [5]:
os.listdir('data/')

['sample_submission.csv',
 'test_data.csv',
 'text_emotion.csv',
 'train_data.csv']

In [2]:
df_sample_submission = pd.read_csv('data/sample_submission.csv')
df_sample_submission.head()

   id   sentiment
0   1       empty
1   2     sadness
2   3     sadness
3   4  enthusiasm
4   5     neutral

In [3]:
df_sample_submission.shape

(3000, 2)

In [4]:
df_sample_submission.tail()

        id  sentiment
2995  2996     relief
2996  2997  happiness
2997  2998       hate
2998  2999    neutral
2999  3000    neutral

In [12]:
df_train = pd.read_csv('data/train_data.csv')
print (df_train.shape)
print ("Unique Sentiments:", df_train['sentiment'].unique())
df_train.head()

(30000, 2)
Unique Sentiments: ['empty' 'sadness' 'enthusiasm' 'neutral' 'worry' 'surprise' 'love' 'fun'
 'hate' 'happiness' 'boredom' 'relief' 'anger']

    sentiment                                            content
0       empty  @tiffanylue i know  i was listenin to bad habi...
1     sadness  Layin n bed with a headache  ughhhh...waitin o...
2     sadness                Funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends SOON!
4     neutral  @dannycastillo We want to trade with someone w...

In [10]:
df_test = pd.read_csv('data/test_data.csv')
print (df_test.shape)
df_test.head()

(10000, 2)

   id                                            content
0   1  is hangin with the love of my life. Tessa McCr...
1   2  I've Got An Urge To Make Music Like Massively....
2   3                         @lacrossehawty rofl uh huh
3   4  @fankri haha! thanks, Tiff   it went well, but...
4   5       @alyssaisntcool hahah  i loveeee him though.

In [13]:
df_test_emotion = pd.read_csv('data/text_emotion.csv')
print (df_test_emotion.shape)
print ("Unique Sentiments:", df_test_emotion['sentiment'].unique())
df_test_emotion.head()

(40000, 4)
Unique Sentiments: ['empty' 'sadness' 'enthusiasm' 'neutral' 'worry' 'surprise' 'love' 'fun'
 'hate' 'happiness' 'boredom' 'relief' 'anger']

,tweet_id,sentiment,author,content
0,1956967341,empty,xoshayzers,@tiffanylue i know i was listenin to bad habi...
1,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...
3,1956967789,enthusiasm,czareaquino,wants to hang out with friends SOON!
4,1956968416,neutral,xkilljoyx,@dannycastillo We want to trade with someone w...

The Test Labels are not mentioned correctly.
I will split the data into train and test in the notebook to build the machine learning classifier from the df_test_emotion_dataframe.